<div class="form-group row" id="engrow3" style="padding: 0px">
    <div class="form-group col-md-3">
        <% if(formvalues.engein3.length > 0) { %>
        <input style="padding: 0px" type="number" class="form-control" name="engein3" id="engein3" value="<%=formvalues.engein3%>">
        <% } else { %>
        <input style="padding: 0px" type="number" class="form-control" name="engein3" id="engein3" placeholder="Enter engineer EIN" value="">
        <% } %>
    </div>

    <div class="form-group col-md-2">
        <select name="tasknum3" id="tasknum3" class="form-control">
            <option value="" selected><em>Select From List</em></option>
            <%for(var oo =0;oo<dropdownsjson.tasknumberdropdown.length;oo++) { %>
            <% if( dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER == formvalues.tasknum3) { %>
            <option value="<%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%>" selected><em><%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%></em></option>
            <% } else { %>
            <option value="<%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%>"><em><%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%></em></option>
            <% } %>
            <% } %>
        </select>
    </div>

    <div class="form-group col-md-2">
        <select name="traveltime3" id="traveltime3" class="form-control">
            <option value="" selected><em>Select From List</em></option>
            <%for(var mm =0;mm<dropdownsjson.traveldropdown.length;mm++) { %>
            <% if( dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION == formvalues.travel3) { %>
            <option value="<%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%>" selected><em><%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%></em></option>
            <% } else { %>
            <option value="<%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%>"><em><%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%></em></option>
            <% } %>
            <% } %>
        </select>
    </div>

    <div class="form-group col-md-2" id="randomdiv">
        <select name="eodtravel3" name="eodtravel3" id="eodtravel3" class="form-control">
            <option style="padding: 0px" value="" selected><em>Select From List</em></option>
            <%for(var mm =0;mm<dropdownsjson.traveldropdown.length;mm++) { %>
            <% if( dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION == formvalues.eodtravel3) { %>
            <option style="padding: 0px" value="<%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%>" selected><em><%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%></em></option>
            <% } else { %>
            <option style="padding: 0px" value="<%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%>"><em><%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%></em></option>
            <% } %>
            <% } %>
        </select>
    </div>

    <div class="form-group col-md-2">
        <% if(formvalues.dates3.length > 0) { %>
        <input type="text" class="auto-kal" data-kal="mode: 'multiple', months: 1, direction: 'future'" name="dates3" id="dates3" value = "<%=formvalues.dates3%>" readonly>
        <% } else { %>
        <input type="text" class="auto-kal" data-kal="mode: 'multiple', months: 1, direction: 'future', blackout: function(date) { var today = new Date(); today.getDate(); var plus30 = today.setMonth(today.getMonth()+1); return date > plus30} " name="dates3" id="dates3" readonly>
        <% } %>
    </div>

    <div class="form-group col-md-1">
        <% if(formvalues.dates.length > 0) { %>
        <input class="form-check-input" type="checkbox" id="deleteeng3">
        <% } else { %>
        <input class="form-check-input" type="checkbox" id="deleteeng3">
        <% } %>
    </div>

</div>