<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>
    <% include ./partials/header %>
</header>
<h1>Admin Page</h1>
<%if (username) { %>
<p>Hi <%- username%></p>
<%}%>


<form class="form-inline" action="/adduser" method="post">
    <div class="form-group">
        <label for="OUC">OUC</label>
        <input type="text" class="form-control" name="ouc" placeholder="BVH123">
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Jane Doe">
    </div>
    <div class="form-group">
        <label for="EIN">EIN</label>
        <input type="number" class="form-control" name="ein" placeholder="600123456">
    </div>
    <div class="form-group">
        <label for="Profile">Profile</label>
        <select name="profile">
            <option value="" selected><em>Select From List</em></option>
            <option value="Admin">Admin</option>
            <option value="Manager">Manager</option>
            <option value="5DAP">5DAP</option>
            <option value="OTD">OTD</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add User</button>
</form>
<%if (addusermessage) { %>
<p><%- addusermessage%></p>
<%}%>
<br><br>

<form class="form-inline" action="/deleteuser" method="post">
    <div class="form-group">
        <label for="OUC">EIN</label>
        <input type="text" class="form-control" name="delein" placeholder="600123456">
    </div>
    <button type="submit" class="btn btn-primary">Delete User</button>
</form>
<%if (delusermessage) { %>
<p><%- delusermessage%></p>
<%}%>
<br><br>

<form class="form-inline" action="/edituser" method="post">
    <div class="form-group">
        <label for="EIN">EIN</label>
        <input type="number" class="form-control" name="editein" placeholder="600123456">
    </div> <b>:</b>
    <div class="form-group">
        <label for="OUC">OUC</label>
        <input type="text" class="form-control" name="editouc" placeholder="BVH123">
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="editname" placeholder="Jane Doe">
    </div>
    <div class="form-group">
        <label for="Profile">Profile</label>
        <select name="editprofile">
            <option value="" selected><i>Select From List</i></option>
            <option value="Admin">Admin</option>
            <option value="Manager">Manager</option>
            <option value="5DAP">5DAP</option>
            <option value="OTD">OTD</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Edit User</button>
</form>
<%if (editusermessage) { %>
<p><%- editusermessage%></p>
<%}%>
<br><br>

<%if (db.length>0) { %>
    <div class="containerTableDemand">
        <div class="table-responsive">
            <table id="table" class="table table-condensed">
                <thead>
                <tr>
                    <th>OUC</th>
                    <th>Name</th>
                    <th>EIN</th>
                    <th>Profile</th>
                    <th>Added Date</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i=0;i<db.length;i++) { %>
                <tr>
                    <td><%= db[i].OUC %></td>
                    <td><%= db[i].NAME%></td>
                    <td><%= db[i].EIN%></td>
                    <td><%= db[i].PROFILE%></td>
                    <td><%= db[i].ADDED_DATE%></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
<%}%>

<footer>
    <% include ./partials/footer %>
</footer>
</body>
</html>
