<!DOCTYPE html>
<html>
<head>
    <title>Day-1</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/jquery.js"></script>
    <link rel="stylesheet" href="build/kalendae.css" type="text/css" charset="utf-8">
    <script src="build/kalendae.standalone.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<header>
    <% include ./partials/header %>
</header>

<div class="container">
    <form id="form1" action="editestimate" method="post">
    <div class="row" style="background-color:#f8f8f8;">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Enter EWOC Estimate</label>
            <div class="col-sm-10" id="estimatediv">
                <input type="text" class="form-control" id="estimate" placeholder="example EWOC estimate" name="ewocestimate">
            </div>
        </div>

        <div class="col-md-5 col-centered" style="background-color:#f8f8f8;">

                <div class="form-group row" id="divcases">
                    <label for="exampleSelect2">Select Cases to Edit</label>
                    <select multiple class="form-control" name="cases">
                        <% if (cases.length > 0) { %>
                            <% for(var ii=0;ii<cases.length;ii++) { %>


                                    <% if(cases[ii].CASE_ID == formvalues.cases) { %>
                                        <option selected> <%= cases[ii].CASE_ID %></option>
                                    <% } else { %>
                                        <option> <%= cases[ii].CASE_ID %></option>
                                    <% } %>


                            <%}%>
                        <%}%>
                    </select>
                </div>

                <label class="form-check-inline">
                    <%   if (formvalues.dso == 'dso') { %>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="dso" name="dso" checked> DSO
                    <%} else { %>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="dso" name="dso"> DSO
                    <% } %>
                </label>

                <label class="form-check-inline">
                    <%    if (formvalues.tmbooked == 'tmbooked') { %>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="tmbooked" name="tmbooked" checked> TM Booked
                    <%} else { %>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="tmbooked" name="tmbooked"> TM Booked
                    <% } %>
                </label>

                <br>

                <div class="form-group row">
                    <label for="Profile">Edit Fluidity Status</label>
                        <select name="fluiditystatus" >
                            <option value="" selected><em>Select From List</em></option>
                            <option value="Admin">Open - Non Fluid</option>
                            <option value="Manager">Otherfluiditystatus</option>
                            <option value="5DAP">Otherfluiditystatus</option>
                            <option value="OTD">Otherfluiditystatus</option>
                        </select>
                </div>

                <div class="form-group row">
                    <label for="Profile">Gang Size</label>
                    <select name="gangsize">
                        <option value="" selected><em>Select From List</em></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>

                <div class="form-group row">
                    <label for="Profile">Edit/ Add Skill</label>
                    <select name="addeditskill">
                        <option value="" selected><em>Select From List</em></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>

                <div class="form-group row">
                    <label for="Profile">Edit Task Time</label>
                    <select name="edittasktime">
                        <option value="" selected><em>Select From List</em></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2 col-centered" style="background-color:#f8f8f8;">

            </div>

            <div class="col-sm-3 col-md-5 col-centered" style="background-color:#f8f8f8;">
                <label class="form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="unpintask" name="unpintask"> Un-pin task
                </label>
                <div class="form-group row">
                    <label for="Profile">Estimated Travel To Next Task/ EOD Travel</label>
                    <select name="traveltime">
                        <option value="" selected><em>Select From List</em></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="EIN">Enter Engineer EIN for Task
                        <input type="number" class="form-control" name="engein" placeholder="600123456">
                    </label>
                </div>
                <div class="form-group row">
                    <label for="Profile">Select Task Number</label>
                    <select name="tasknum">
                        <option value="" selected><em>Select From List</em></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>

                <label for="EIN">Select Planner Defined Date(s)
                    <input type="text" class="auto-kal" data-kal="mode: 'multiple', months: 1, direction: 'future'" name="dates">
                </label>



            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Changes</button>
                </div>
            </div>

        </div>
    </form>
</div>
<% if(plannermessage) { %>
<p style = "font-size: 2.0em; font-style: italic; text-align:center"> <%= plannermessage %> </p>
<% } %>

<% if(db) { %>
<table id="table" >
    <thead>
    <tr>
        <th>OBJID</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0;i<db.length;i++) { %>
    <tr>
        <!--td><%= db[i].OBJID %></td-->
        <td><%- JSON.stringify(db[i]) %></td> <br>
    </tr>
    <% } %>
    </tbody>
</table>
<% } %>

<footer>
    <% include ./partials/footer %>
</footer>

<script src="javascripts/loadestimatecases.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>