<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title> Demand EJS File</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet"><!--brand text-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.css" />
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color: lightgrey;">
<header>
    <% include ./partials/header %>
</header>
<!-- /.row alert-->
<div class="alert alert-danger text-center" id="alert">
    <h4><strong>Priority Score and Skills to be mapped must be populated with a value!</strong></h4>
</div>
<!-- /.row priority panels-->
<div class="row" id="priority-panels">
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <div class="panel panel-black">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-p1 fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-center">
                        <% for(var i=0;i<priorityCount.length;i++) {
                        if(priorityCount[i].web_priority_description=="P1"){%>
                        <div class="huge"><%=priorityCount[i].Total%></div>
                        <% var flagp1 = 1; break}else if(i==priorityCount.length-1 && priorityCount[i].web_priority_description!="P1"){ %>
                        <div class="huge">0</div>
                        <%}else{continue}}%>
                        <div>P1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-urgent fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-center">
                        <% var urgValue = 0
                        for(var i=0;i<priorityCount.length;i++) {
                        if(priorityCount[i].web_priority_description=="Urgent"){%>
                        <div class="huge"><%=priorityCount[i].Total%></div>
                        <% break}else if(i==priorityCount.length-1 && priorityCount[i].web_priority_description!="Urgent"){ %>
                        <div class="huge">0</div>
                        <%}else{continue}}%>
                        <div>Urgent</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-p5 fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-center">
                        <% for(var i=0;i<priorityCount.length;i++) {
                        if(priorityCount[i].web_priority_description=="P5"){%>
                        <div class="huge"><%=priorityCount[i].Total%></div>
                        <% break}else if(i==priorityCount.length-1 && priorityCount[i].web_priority_description!="P15"){ %>
                        <div class="huge">0</div>
                        <%}else{continue}}%>
                        <div>P5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <div class="panel panel-orange">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-p6 fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-center">
                        <% for(var i=0;i<priorityCount.length;i++) {
                        if(priorityCount[i].web_priority_description=="P6"){%>
                        <div class="huge"><%=priorityCount[i].Total%></div>
                        <% break}else if(i==priorityCount.length-1 && priorityCount[i].web_priority_description!="P6"){ %>
                        <div class="huge">0</div>
                        <%}else{continue}}%>
                        <div>P6</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <div class="panel panel-greeny">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-p7 fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-center">
                        <% for(var i=0;i<priorityCount.length;i++) {
                        if(priorityCount[i].web_priority_description=="P7"){%>
                        <div class="huge"><%=priorityCount[i].Total%></div>
                        <% break}else if(i==priorityCount.length-1 && priorityCount[i].web_priority_description!="P7"){ %>
                        <div class="huge">0</div>
                        <%}else{continue}}%>
                        <div>P7</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-p8 fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-center">
                        <% for(var i=0;i<priorityCount.length;i++) {
                        if(priorityCount[i].web_priority_description=="P8"){%>
                        <div class="huge"><%=priorityCount[i].Total%></div>
                        <% break}else if(i==priorityCount.length-1 && priorityCount[i].web_priority_description!="P8"){ %>
                        <div class="huge">0</div>
                        <%}else{continue}}%>
                        <div>P8</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <div class="panel panel-lightGreen">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-p9 fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-center">
                        <% for(var i=0;i<priorityCount.length;i++) {
                        if(priorityCount[i].web_priority_description=="P9"){%>
                        <div class="huge"><%=priorityCount[i].Total%></div>
                        <% break}else if(i==priorityCount.length-1 && priorityCount[i].web_priority_description!="P9"){ %>
                        <div class="huge">0</div>
                        <%}else{continue}}%>
                        <div>P9</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-p10 fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-center">
                        <% for(var i=0;i<priorityCount.length;i++) {
                        if(priorityCount[i].web_priority_description=="P10"){%>
                        <div class="huge"><%=priorityCount[i].Total%></div>
                        <% break}else if(i==priorityCount.length-1 && priorityCount[i].web_priority_description!="P10"){ %>
                        <div class="huge">0</div>
                        <%}else{continue}}%>
                        <div>P10</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
    <div class="row row-centered">
            <div class="col-md-3 col-centered" id="queryform">
                <%if(profile=="OTD"){
                                    if(selection.toggle=="1"){%>
                <h4 class="text-center">On The Day Toggle</h4>
                <label style="font-weight: normal;">OFF</label>
                <label class="switch">
                    <input type="checkbox" id="toggle" name="1" checked>
                    <div class="slider round"></div>
                </label>
                <label style="font-weight: normal;">ON</label>
                <%}else if(selection.toggle=="0"){%>
                <h4 class="text-center">On The Day Toggle</h4>
                <label style="font-weight: normal;">OFF</label>
                <label class="switch">
                    <input type="checkbox" id="toggle" name="1">
                    <div class="slider round"></div>
                </label>
                <label style="font-weight: normal;">ON</label>
                <%}else {%>
                <h4 class="text-center">On The Day Toggle</h4>
                <label style="font-weight: normal;">OFF</label>
                <label class="switch">
                    <input type="checkbox" id="toggle" name="1" checked>
                    <div class="slider round"></div>
                </label>
                <label style="font-weight: normal;">ON</label>
                <%}}%>

                <h4 class="text-center">Select Fluidity Status</h4>
                <select class="selectpicker" id="fluidity">
                    <%if(selection.fluidity=="All"){%>
                    <option selected>All</option>
                    <%}else{%>
                    <option>All</option>
                    <%}%>

                    <%if(selection.fluidity=="OPEN - Non Fluid"){%>
                    <option selected>OPEN - Non Fluid</option>
                    <%}else{%>
                    <option>OPEN - Non Fluid</option>
                    <%}%>

                    <%if(selection.fluidity=="OPEN - Fluid"){%>
                    <option selected>OPEN - Fluid</option>
                    <%}else{%>
                    <option>OPEN - Fluid</option>
                    <%}%>

                    <%if(selection.fluidity=="OPEN - New"){%>
                    <option selected>OPEN - New</option>
                    <%}else{%>
                    <option>OPEN - New</option>
                    <%}%>
                </select>
                <h4 class="text-center">View Planned Work</h4>
                <select class="selectpicker" id="planned">
                    <%if(selection.planned=="All"){%>
                    <option selected name="All">All</option>
                    <%}else{%>
                    <option name="All">All</option>
                    <%}%>

                    <%if(selection.planned=="is null "){%>
                    <option selected name="is null ">Unplanned</option>
                    <%}else{%>
                    <option name="is null ">Unplanned</option>
                    <%}%>

                    <%if(selection.planned=="is not null "){%>
                    <option selected name="is not null ">Planned</option>
                    <%}else{%>
                    <option name="is not null ">Planned</option>
                    <%}%>
                </select>
                <h4 class="text-center">Select Priority Score</h4>
                <div class="checkbox">
                    <% for(var i=0;i<selection.priority.length;i++) {
                    if(selection.priority[i]=="1"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="priority0" name0="1" checked>P1</label>
                    <% break}else if(i==selection.priority.length-1 && selection.priority[i]!="1"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="priority0" name0="1">P1</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.priority.length;i++) {
                    if(selection.priority[i]=="2"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="priority1" name1="2" checked>P2</label>
                    <% break}else if(i==selection.priority.length-1 && selection.priority[i]!="2"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="priority1" name1="2">P2</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.priority.length;i++) {
                    if(selection.priority[i]=="3"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="priority2" name2="3" checked>P3</label>
                    <% break}else if(i==selection.priority.length-1 && selection.priority[i]!="3"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="priority2" name2="3">P3</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.priority.length;i++) {
                    if(selection.priority[i]=="4"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="priority3" name3="4" checked>P4</label>
                    <% break}else if(i==selection.priority.length-1 && selection.priority[i]!="4"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="priority3" name3="4">P4</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.priority.length;i++) {
                    if(selection.priority[i]=="5"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="priority4" name4="5" checked>P5</label>
                    <% break}else if(i==selection.priority.length-1 && selection.priority[i]!="5"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="priority4" name4="5">P5</label>
                    <%}else{continue}}%>
                </div>
                <div class="radio">
                    <% for(var i=0;i<selection.priority.length;i++) {
                    if(selection.priority[i]=="6"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="priority5" name5="6" checked>P6</label>
                    <% break}else if(i==selection.priority.length-1 && selection.priority[i]!="6"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="priority5" name5="6">P6</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.priority.length;i++) {
                    if(selection.priority[i]=="7"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="priority6" name6="7" checked>P7</label>
                    <% break}else if(i==selection.priority.length-1 && selection.priority[i]!="7"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="priority6" name6="7">P7</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.priority.length;i++) {
                    if(selection.priority[i]=="8"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="priority7" name7="8" checked>P8</label>
                    <% break}else if(i==selection.priority.length-1 && selection.priority[i]!="8"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="priority7" name7="8">P8</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.priority.length;i++) {
                    if(selection.priority[i]=="9"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="priority8" name8="9" checked>P9</label>
                    <% break}else if(i==selection.priority.length-1 && selection.priority[i]!="9"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="priority8" name8="9">P9</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.priority.length;i++) {
                    if(selection.priority[i]=="10"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="priority9" name9="10" checked>P10</label>
                    <% break}else if(i==selection.priority.length-1 && selection.priority[i]!="10"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="priority9" name9="10">P10</label>
                    <%}else{continue}}%>
                </div>
                <div>
                    <%if(selection.priority.length==10){%>
                    <label class="checkbox-inline"><input type="checkbox" id="select_all_priority" checked>Select All</label>
                    <%}else{%>
                    <label class="checkbox-inline"><input type="checkbox" id="select_all_priority">Select All</label>
                    <%}%></div>
                <h4 class="text-center" >Select Skills to be Mapped</h4>
                <div class="checkbox">
                   <% for(var i=0;i<selection.skills.length;i++) {
                            if(selection.skills[i]=="E-SIDE COPPER JOINTING"){%>
                    <label class="checkbox-inline"> <input type="checkbox" id="filter0" name0="E-SIDE COPPER JOINTING" checked>E-SIDE COPPER JOINTING</label>
                    <% break}else if(i==selection.skills.length-1 && selection.skills[i]!="E-SIDE COPPER JOINTING"){ %>
                    <label class="checkbox-inline"> <input type="checkbox" id="filter0" name0="E-SIDE COPPER JOINTING">E-SIDE COPPER JOINTING</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.skills.length;i++) {
                    if(selection.skills[i]=="D-SIDE COPPER JOINTING"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="filter1" name1="D-SIDE COPPER JOINTING" checked>D-SIDE COPPER JOINTING</label>
                    <% break}else if(i==selection.skills.length-1 && selection.skills[i]!="D-SIDE COPPER JOINTING"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="filter1" name1="D-SIDE COPPER JOINTING">D-SIDE COPPER JOINTING</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.skills.length;i++) {
                    if(selection.skills[i]=="LIGHT CABLING"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="filter2" name2="LIGHT CABLING" checked>LIGHT CABLING</label>
                    <% break}else if(i==selection.skills.length-1 && selection.skills[i]!="LIGHT CABLING"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="filter2" name2="LIGHT CABLING">LIGHT CABLING</label>
                    <%}else{continue}}%>
                </div>
                <div class="radio">
                    <% for(var i=0;i<selection.skills.length;i++) {
                    if(selection.skills[i]=="HEAVY CABLING"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="filter3" name3="HEAVY CABLING" checked>HEAVY CABLING</label>
                    <% break}else if(i==selection.skills.length-1 && selection.skills[i]!="HEAVY CABLING"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="filter3" name3="HEAVY CABLING">HEAVY CABLING</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.skills.length;i++) {
                    if(selection.skills[i]=="PRECISION TEST OFFICER"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="filter4" name4="PRECISION TEST OFFICER" checked>PRECISION TEST OFFICER</label>
                    <% break}else if(i==selection.skills.length-1 && selection.skills[i]!="PRECISION TEST OFFICER"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="filter4" name4="PRECISION TEST OFFICER">PRECISION TEST OFFICER</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.skills.length;i++) {
                    if(selection.skills[i]=="OVERHEAD CABLING"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="filter5" name5="OVERHEAD CABLING" checked>OVERHEAD CABLING</label>
                    <% break}else if(i==selection.skills.length-1 && selection.skills[i]!="OVERHEAD CABLING"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="filter5" name5="OVERHEAD CABLING">OVERHEAD CABLING</label>
                    <%}else{continue}}%>
                </div>
                <div class="radio">
                    <% for(var i=0;i<selection.skills.length;i++) {
                    if(selection.skills[i]=="PRESSURE JOINTING"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="filter6" name6="PRESSURE JOINTING" checked>PRESSURE JOINTING</label>
                    <% break}else if(i==selection.skills.length-1 && selection.skills[i]!="PRESSURE JOINTING"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="filter6" name6="PRESSURE JOINTING">PRESSURE JOINTING</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.skills.length;i++) {
                    if(selection.skills[i]=="OVERHEAD SURVEY"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="filter7" name7="OVERHEAD SURVEY" checked>OVERHEAD SURVEY</label>
                    <% break}else if(i==selection.skills.length-1 && selection.skills[i]!="OVERHEAD SURVEY"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="filter7" name7="OVERHEAD SURVEY">OVERHEAD SURVEY</label>
                    <%}else{continue}}%>

                    <% for(var i=0;i<selection.skills.length;i++) {
                    if(selection.skills[i]=="OTHER"){%>
                    <label class="checkbox-inline"><input type="checkbox" id="filter8" name8="OTHER" checked>OTHER</label>
                    <% break}else if(i==selection.skills.length-1 && selection.skills[i]!="OTHER"){ %>
                    <label class="checkbox-inline"><input type="checkbox" id="filter8" name8="OTHER">OTHER</label>
                    <%}else{continue}}%>

                    <%if(selection.skills.length==9){%>
                    <label class="checkbox-inline"><input type="checkbox" id="select_all_skill" checked>Select All</label>
                    <%}else{%>
                    <label class="checkbox-inline"><input type="checkbox" id="select_all_skill">Select All</label>
                    <%}%>
                </div>

                <!--TODO:change option name and add to post query in MapJquery.js and add to query in maprerender.js -->
                <h4 class="text-center">Execution Status</h4>
                <select class="selectpicker" id="execStatus">
                    <%if(selection.execStatus=="All"){%>
                    <option selected name="All">All</option>
                    <%}else{%>
                    <option name="All">All</option>
                    <%}%>
                    <%if(selection.execStatus=="AWI"){%>
                    <option selected name="AWI">AWI</option>
                    <%}else{%>
                    <option name="AWI">AWI</option>
                    <%}%>
                    <%if(selection.execStatus=="ISS"){%>
                    <option selected name="ISS">ISS</option>
                    <%}else{%>
                    <option name="ISS">ISS</option>
                    <%}%>
                    <%if(selection.execStatus=="EXC"){%>
                    <option selected name="EXC">EXC</option>
                    <%}else{%>
                    <option name="EXC">EXC</option>
                    <%}%>
                    <%if(selection.execStatus=="FUR"){%>
                    <option selected name="FUR">FUR</option>
                    <%}else{%>
                    <option name="FUR">FUR</option>
                    <%}%>
                    <%if(selection.execStatus=="HLD"){%>
                    <option selected name="HLD">HLD</option>
                    <%}else{%>
                    <option name="HLD">HLD</option>
                    <%}%>
                    <%if(selection.execStatus=="Not Issued"){%>
                    <option selected name="null">Not Issued</option>
                    <%}else{%>
                    <option name="null">Not Issued</option>
                    <%}%>
                </select>

                <h4 class="text-center">Queue Flag</h4>
                <select class="selectpicker" id="qFlag">
                    <%if(selection.qFlag=="All"){%>
                    <option selected name="All">All</option>
                    <%}else{%>
                    <option name="All">All</option>
                    <%}%>
                    <%if(selection.qFlag=="A"){%>
                    <option selected name="A">A</option>
                    <%}else{%>
                    <option name="A">A</option>
                    <%}%>
                    <%if(selection.qFlag=="F"){%>
                    <option selected name="F">F</option>
                    <%}else{%>
                    <option name="F">F</option>
                    <%}%>
                    <%if(selection.qFlag=="R"){%>
                    <option selected name="R">R</option>
                    <%}else{%>
                    <option name="R">R</option>
                    <%}%>
                    <%if(selection.qFlag=="C"){%>
                    <option selected name="C">C</option>
                    <%}else{%>
                    <option name="C">C</option>
                    <%}%>
                </select>

                <h4 class="text-center">Enter OUC</h4>
                <select class="selectpicker" id="oucselection">
                    <%var flag =0; for(var i=0;i<ouc.length;i++) {
                        if(selection.ouc==ouc[i].om_ouc){
                        flag = 1%>
                        <option selected><%=ouc[i].om_ouc %></option>
                    <%}else{%>
                    <option><%=ouc[i].om_ouc %></option>
                    <% }}
                    if(flag==1){%>
                    <option>All</option>
                    <%}else{%>
                    <option selected>All</option>
                    <%}%>
                </select>
                <h4 class="text-center">Task Duration</h4>
                <select class="selectpicker" id="durationselection">
                    <%if(selection.durationselection=="1"){%>
                    <option name="1" selected>More Than (mins)</option>
                    <option name="2">Less Than (mins)</option>
                    <option name="0">No Duration</option>
                    <%}else if(selection.durationselection=="2"){%>
                    <option name="1">More Than (mins)</option>
                    <option name="2" selected>Less Than (mins)</option>
                    <option name="0">No Duration</option>
                    <%}else {%>
                    <option name="1">More Than (mins)</option>
                    <option name="2">Less Than (mins)</option>
                    <option name="0" selected>No Duration</option>
                    <%}%>
                </select>
                <%if(selection.durationselection=="1"){%>
                    <input type="number" min="0" id="durationinput" value="<%=parseInt(selection.durationinput)%>">
                <%}else if(selection.durationselection=="2"){%>
                    <input type="number" min="0" id="durationinput" value="<%=parseInt(selection.durationinput)%>">
                <%}else{%>
                    <input type="number" min="0" id="durationinput" disabled>
                <%}%>
                <h3></h3>
                <div>
                <input class="btn btn-info" id="button" type="button" value="Apply Filter"/>
                </div>
            </div>

        <div class="col-md-9 " id="mapid" style="width: 900px; height: 700px;"></div>
    </div>


<div id = "tablecontainer" class="tablecontainer">
        <table id="datatabledemandjson" class="table table-striped hover"></table>
</div>

<footer>
    <% include ./partials/footer %>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.js"></script>
<script src="http://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
<script  type="text/javascript" src="/javascripts/leaflet.js"></script>
<script  type="text/javascript" src="/javascripts/MapJquery.js"></script>
<script  type="text/javascript" src="/javascripts/onbeforeunload.js"></script>
<script src="/javascripts/getmapquerydatatable.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>