<!DOCTYPE html>
<html>
<head>
    <title>Day-1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/jquery.js"></script>
    <link rel="stylesheet" href="build/kalendae.css" type="text/css" charset="utf-8">
    <script src="build/kalendae.standalone.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/plannerdatatable.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/animatescroll.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet">

</head>

<body>
<header>
    <% include ./partials/header %>
</header>

<div class="container">
    <form id="form1" action="editestimate" method="post">
    <div class="row">

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Enter EWOC Estimate</label>
            <div class="col-sm-10" id="estimatediv">
                <% if(formvalues.estimatenum.length > 0) { %>
                    <input type="text" class="form-control" id="estimate" name="ewocestimate" value="<%= formvalues.estimatenum %>">
                <% } else { %>
                    <input type="text" class="form-control" id="estimate" placeholder="example EWOC estimate" name="ewocestimate">
                <%}%>
            </div>
        </div>



        <div class="form-group row-centered" id="divcases">
            <label for="exampleSelect2">Select Cases to Edit</label>
            <select multiple class="form-control input-large" name="cases">
                <% if (cases.length > 0) { %>
                    <% for(var ii=0;ii<cases.length;ii++) { %>
                            <% if(formvalues.cases.includes(cases[ii].CASE_ID)) { %>
                                <option selected> <%= cases[ii].CASE_ID %></option>
                            <% } else { %>
                                <option> <%= cases[ii].CASE_ID %></option>
                            <% } %>
                    <%}%>
                <%}%>
            </select>
        </div>

        <div class="col-lg-5 col-centered" name="col1">

                <label class="form-check-inline">
                    <%   if (formvalues.dso == 'dso') { %>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="dso" name="dso" checked> DSO
                    <%} else { %>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="dso" name="dso"> DSO
                    <% } %>
                </label>

                <label class="form-check-inline">
                    <%    if (formvalues.tmbooked == 'tmbooked') { %>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="tmbooked" name="tmbooked" checked> TM Booked
                    <%} else { %>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="tmbooked" name="tmbooked"> TM Booked
                    <% } %>
                </label>

                <br>

                <div class="form-group row">
                    <label for="Profile">Edit Fluidity Status</label>
                        <select name="fluiditystatus" >
                            <option value="" selected><em>Select From List</em></option>

                            <%for(var ll =0;ll<dropdownsjson.fluiditydropdown.length;ll++) { %>
                                <% if( dropdownsjson.fluiditydropdown[ll].CASE_STATUS == formvalues.fluiditystatus) { %>
                                    <option value="<%= dropdownsjson.fluiditydropdown[ll].CASE_STATUS %>" selected><%= dropdownsjson.fluiditydropdown[ll].CASE_STATUS %></option>
                                <% } else {%>
                                    <option value="<%= dropdownsjson.fluiditydropdown[ll].CASE_STATUS %>"><%= dropdownsjson.fluiditydropdown[ll].CASE_STATUS %></option>
                                <% } %>
                            <% } %>

                        </select>
                </div>

                <div class="form-group row">
                    <label for="Profile">Gang Size</label>
                    <select name="gangsize">
                        <option value="" selected><em>Select From List</em></option>
                        <%for(var nn =0;nn<dropdownsjson.gangsizedropdown.length;nn++) { %>
                            <% if( dropdownsjson.gangsizedropdown[nn].ASSUMED_GANG_SIZE == formvalues.gangsize) { %>
                                <option value="<%= dropdownsjson.gangsizedropdown[nn].ASSUMED_GANG_SIZE%>" selected><em><%= dropdownsjson.gangsizedropdown[nn].ASSUMED_GANG_SIZE%></em></option>
                            <% } else { %>
                                <option value="<%= dropdownsjson.gangsizedropdown[nn].ASSUMED_GANG_SIZE%>"><em><%= dropdownsjson.gangsizedropdown[nn].ASSUMED_GANG_SIZE%></em></option>
                        <% } %>
                        <% } %>
                    </select>
                </div>

                <div class="form-group row">
                    <label for="Profile">Edit/ Add Skill</label>
                    <select name="addeditskill">
                        <option value="" selected><em>Select From List</em></option>

                        <%for(var nn =0;nn<dropdownsjson.skillsdropdown.length;nn++) { %>
                            <% if( dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL == formvalues.skills) { %>
                                <option value="<%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %>" selected><%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %></option>
                            <% } else {%>
                                <option value="<%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %>"><%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %></option>
                            <% } %>
                        <% } %>

                    </select>
                </div>

            <div class="form-group row">
                <label for="tasktime">Enter Estimated Task Time (Mins)
                    <% if(formvalues.tasktime.length > 0) { %>
                    <input type="number" class="form-control" name="tasktime" value="<%=formvalues.tasktime%>">
                    <% } else { %>
                    <input type="number" class="form-control" name="tasktime" placeholder="Enter Task Time" value="">
                    <% } %>
                </label>
            </div>

            </div>

            <div class="col-sm-1 col-centered" name="col2">

            </div>

            <div class="col-lrg-5 col-centered" name="col3">
                <label class="form-check-inline">
                    <%    if (formvalues.unpintask == 'unpintask') { %>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="unpintask" name="unpintask" checked> Un-pin task
                    <% } else { %>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="unpintask" name="unpintask"> Un-pin task
                    <% } %>
                </label>

                <div class="form-group row">
                    <label for="Profile">Estimated Travel To Next Task/ EOD Travel</label>
                    <select name="traveltime">
                        <option value="" selected><em>Select From List</em></option>
                        <%for(var mm =0;mm<dropdownsjson.traveldropdown.length;mm++) { %>
                            <% if( dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION == formvalues.travel) { %>
                                <option value="<%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%>" selected><em><%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%></em></option>
                            <% } else { %>
                                <option value="<%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%>"><em><%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%></em></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>

                <div class="form-group row">
                    <label for="EIN">Enter Engineer EIN for Task
                        <% if(formvalues.engein.length > 0) { %>
                            <input type="number" class="form-control" name="engein" value="<%=formvalues.engein%>">
                        <% } else { %>
                            <input type="number" class="form-control" name="engein" placeholder="Enter engineer EIN" value="">
                        <% } %>
                    </label>
                </div>

                <div class="form-group row" id="randomdiv">
                    <label for="Profile">Select Task Number</label>
                    <select name="tasknum">
                        <option value="" selected><em>Select From List</em></option>
                        <%for(var oo =0;oo<dropdownsjson.tasknumberdropdown.length;oo++) { %>
                            <% if( dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER == formvalues.tasknum) { %>
                                <option value="<%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%>" selected><em><%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%></em></option>
                            <% } else { %>
                                <option value="<%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%>"><em><%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%></em></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>

                <label for="EIN" name="datewrap">Select Planner Defined Date(s)
                    <% if(formvalues.dates.length > 0) { %>
                        <input type="text" class="auto-kal" data-kal="mode: 'multiple', months: 1, direction: 'future'" name="dates" value = "<%=formvalues.dates%>">
                    <% } else { %>
                        <input type="text" class="auto-kal" data-kal="mode: 'multiple', months: 1, direction: 'future', blackout: function(date) { var today = new Date(); today.getDate(); var plus30 = today.setMonth(today.getMonth()+1); return date > plus30} " name="dates">
                    <% } %>
                </label>



            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Changes</button>
                </div>
            </div>

        </div>
    </form>
</div>
<% if(plannermessage) { %>
<div class="alert alert-danger text-center" id="alert1">
    <p> <%= plannermessage %> </p>
</div>
<% } %>
<br><br>

<div id = "outertablecontainer" class="outertablecontainer">
    <div id = "tablecontainer" class="tablecontainer">
        <div id="scrollable" class="scrollable">
            <table id="datatableplanner" class="table table-striped hover"></table>
        </div>
    </div>
</div>

<div class="scrollbuttons">
    <button type="submit" class="btn btn-primary" onClick="scrollacross()">Scroll To Next Day</button>
</div>

<footer>
    <% include ./partials/footer %>
</footer>

<script src="javascripts/loadestimatecases.js" type="text/javascript" charset="utf-8"></script>


</body>
</html>