<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>Work Planner</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet"><!--brand text-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="build/kalendae.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-flash-1.2.4/b-html5-1.2.4/fc-3.2.2/sc-1.4.2/datatables.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.13/b-1.2.4/b-flash-1.2.4/b-html5-1.2.4/fc-3.2.2/r-2.1.1/sc-1.4.2/datatables.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-flash-1.2.4/b-html5-1.2.4/fc-3.2.2/sc-1.4.2/datatables.min.js"></script>
    <script src="build/kalendae.standalone.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
</head>

<body style="background-color: lightgrey; overflow-x:hidden;">
<header>
    <% include ./partials/header %>
</header>

<div id="overlay" title="Loading">
    <h3>Loading</h3>
    <p><img src="/images/ajax-loader-bar.gif"> </p>
</div>

<div class="row">
    <div class="col-sm-2 col-md-2"></div>

    <div class="col-sm-4 col-md-4" style="margin-left: 50px;">
        <div class="container" id="estimatecontainer">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" style=" color: #5BC0DE; font-weight: bold" href="#edit">Edit estimate</a></li>
                <li><a data-toggle="tab" style="color: #D9534F; font-weight: bold" href="#Delete" id="deletion">Delete Engineer</a></li>
            </ul>
       <!-- <h3 id="estimatecontainerheader" style="background-color: #428BCA">Edit EWOC Case</h3>-->
            <div class="tab-content">
                <div id="edit" class="tab-pane fade in active">
                    <h2></h2>
                    <form id="form1" action="editestimate" method="post" name="form1" onsubmit="return validateForm()">
                    <div id="formdatacontainer">
                    <div class="form-group row">
                        <div class="form-group col-md-offset-1 col-lg-2">
                            <label> Enter EWOC Estimate:</label>
                        </div>
                        <div class="form-group col-md-6" id="estimatediv" style="padding-bottom: 0px;">
                            <% if(formvalues.estimatenum) { %>
                                <input type="text" class="form-control" id="estimate" name="ewocestimate" value="<%= formvalues.estimatenum %>">
                            <% } else { %>
                                <input type="text" class="form-control" id="estimate" placeholder="example EWOC estimate" name="ewocestimate">
                            <%}%>
                        </div>
                        <div class="form-group col-md-1">
                            <button type=button id="getcasesbutton" class="btn btn-primary">Load Cases</button>
                        </div>
                    </div>


                    <div class="form-group row" id="divcases">
                        <div class="form-group col-md-offset-1 col-lg-2">
                            <label for="exampleSelect2"><br>Select Case to Edit:</label>
                        </div>
                        <div class="form-group col-md-6">
                        <select multiple="multiple" class="form-control input-large" name="cases" id="cases" style="padding: 0px">
                            <% if (cases) { %>
                                <% for(var ii=0;ii<Object.keys(cases).length;ii++) { %>
                                        <% if (formvalues.cases == cases[ii].CASE_ID) { %>
                                            <option selected><%= cases[ii].CASE_ID %></option>
                                        <% } else { %>
                                            <option><%= cases[ii].CASE_ID %></option>
                                        <% } %>
                                <%}%>
                            <%}%>
                        </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-md-offset-1 col-md-2">
                            <label class="form-check-inline">
                                <%    if (formvalues.tmbooked == 'Y') { %>
                                <input class="form-check-input" type="checkbox" value="Y" name="tmbooked" id="tmbooked" style="padding: 0px" checked><br> Dependencies
                                <%} else { %>
                                <input class="form-check-input" type="checkbox" value="Y" name="tmbooked" id="tmbooked" style="padding: 0px"><br> Dependencies
                                <% } %>
                            </label>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="form-check-inline">
                                <%   if (formvalues.dso == 'Y') { %>
                                <input class="form-check-input" type="checkbox" id="dso" value="Y" name="dso" style="padding: 0px" checked><br> DSO
                                <%} else { %>
                                <input class="form-check-input" type="checkbox" id="dso" value="Y" name="dso" style="padding: 0px"><br> DSO
                                <% } %>
                            </label>
                        </div>
                        <div class="form-group col-md-2">
                        </div>
                        <div class="form-group col-md-2">
                            <label class="form-check-inline">
                                <%    if (formvalues.keystonetask == 'Y') { %>
                                <input class="form-check-input" type="checkbox" id="keystonetask" value="Y" name="keystonetask" style="padding: 0px" checked><br> Keystone Task
                                <% } else { %>
                                <input class="form-check-input" type="checkbox" id="keystonetask" value="Y" name="keystonetask" style="padding: 0px"><br> Keystone Task
                                <% } %>
                            </label>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="form-check-inline">
                                <%    if (formvalues.flagtofluidity == 'Y') { %>
                                <input class="form-check-input" type="checkbox" id="flagtofluidity" value="Y" name="flagtofluidity" style="padding: 0px" checked><br> Flag To Fluidity
                                <%} else { %>
                                <input class="form-check-input" type="checkbox" id="flagtofluidity" value="Y" name="flagtofluidity" style="padding: 0px"><br> Flag To Fluidity
                                <% } %>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-md-4">
                            <label style="padding: 0px" for="Profile">Edit/ Add Skill</label>
                            <select name="addeditskill" id ="addeditskill" class="form-control">
                                <option style="padding: 0px" value="" selected><em>Select From List</em></option>

                                <%for(var nn =0;nn<dropdownsjson.skillsdropdown.length;nn++) { %>
                                <% if( dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL == formvalues.skills) { %>
                                <option style="padding: 0px" value="<%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %>" selected><%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %></option>
                                <% } else {%>
                                <option style="padding: 0px" value="<%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %>"><%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %></option>
                                <% } %>
                                <% } %>
                            </select>
                        </div>

                        <div class="form-group col-md-offset-2 col-md-3">
                            <label style="padding: 0px" for="starttime">Enter Start Time</label>
                                <% if(formvalues.starttime) { %>
                            <input class="timepicker text-center" interval="model.options.interval" dynamic="model.options.dynamic" dropdown="model.options.dropdown" scrollbar="model.options.scrollbar" max-time="model.options.maxTime" min-time="model.options.minTime" start-time="model.options.startTime" time-format="model.options.timeFormat" default-time="model.options.defaultTime" time-string="model.timeString" time="model.time" jt-timepicker="" name="starttime" id="starttime" placeholder=" Enter Task Time" value="<%=formvalues.starttime%>">
                            <% } else { %>
                            <input class="timepicker text-center" interval="model.options.interval" dynamic="model.options.dynamic" dropdown="model.options.dropdown" scrollbar="model.options.scrollbar" max-time="model.options.maxTime" min-time="model.options.minTime" start-time="model.options.startTime" time-format="model.options.timeFormat" default-time="model.options.defaultTime" time-string="model.timeString" time="model.time" jt-timepicker="" name="starttime" id="starttime" placeholder=" Enter Task Time" value="">
                            <% } %>
                        </div>

                        <div class="form-group col-md-3">
                            <label style="padding: 0px" for="finishtime">Enter Finish Time</label>
                            <% if(formvalues.finishtime) { %>
                            <input class="timepicker text-center" interval="model.options.interval" dynamic="model.options.dynamic" dropdown="model.options.dropdown" scrollbar="model.options.scrollbar" max-time="model.options.maxTime" min-time="model.options.minTime" start-time="model.options.startTime" time-format="model.options.timeFormat" default-time="model.options.defaultTime" time-string="model.timeString" time="model.time" jt-timepicker="" name="finishtime" id="finishtime" placeholder=" Enter Task Time" value="<%=formvalues.finishtime%>">
                            <% } else { %>
                            <input class="timepicker text-center" interval="model.options.interval" dynamic="model.options.dynamic" dropdown="model.options.dropdown" scrollbar="model.options.scrollbar" max-time="model.options.maxTime" min-time="model.options.minTime" start-time="model.options.startTime" time-format="model.options.timeFormat" default-time="model.options.defaultTime" time-string="model.timeString" time="model.time" jt-timepicker="" name="finishtime" id="finishtime" placeholder=" Enter Task Time" value="">
                            <% } %>
                        </div>


                    </div>


                    <div id="engrows">


                        <!-- var engcount = 0 -->
                        <%//if (JSON results have a 2nd engineer OR AddEng2Flag Button has been clicked ) { %>
                        <%// engcount = 2 %>
                        <% include ./partials/engrow1 %>
                        <% include ./partials/engrow2 %>
                        <% include ./partials/engrow3 %>
                        <% include ./partials/engrow4 %>
                        <% include ./partials/engrow5 %>
                        <% include ./partials/engrow6 %>

                        <!--} -->

                        <!--if (JSON results have a 3rd engineer OR 3ndEngFlag = 1) { -->
                        <!-- include ./partials/engrow3 -->
                        <!--} -->
                        <!--if (JSON results have a 4th engineer) { -->
                        <!-- include ./partials/engrow4 -->
                        <!--} -->
                        <!--if (JSON results have a 5th engineer) { -->
                        <!-- include ./partials/engrow5 -->
                        <!--} -->

                    </div>

                    </div>


                    <div class="form-group row">
                        <div class="form-group col-md-offset-3 col-md-4">
                            <button type="submit" class="btn btn-primary">Submit Changes</button>
                        </div>
                        <div class="form-group  col-md-4">
                            <button type="reset" value="Reset" class="btn btn-default">Reset Form</button>
                        </div>
                    </div>

                    </form>
                </div>
                <div id="Delete" class="tab-pane fade">
                    <h2></h2>
                    <div class="plexPlanner container">
                        <div class="table-bordered">
                            <table id="tableDelete">
                                <thead>
                                <tr>
                                    <th data-field="CASE_ID">Case ID</th>
                                    <th data-field="PLANNED_ENGINEER">Planned Engineer</th>
                                    <th data-field="PLANNED_DATE">Planned Date</th>
                                    <th data-field="ENG_TRAVEL_TIME">Travel To Next Task</th>
                                    <th data-field="EOD_TRAVEL">EOD Travel</th>
                                    <th data-field="TASK_NUMBER">Task Number</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<% if(plannermessage) { %>
<div class="alert alert-danger text-center" id="MessageDialog" style="display: none">
    <p id ="plannermessagep"><%- plannermessage %></p>
</div>
<% } %>
<br><br>

<div id = "tablecontainer" class="tablecontainer" style="overflow-y:hidden;">
    <table id="datatableplanner" class="table table-striped hover"></table>
</div>


    <!--div id = "tablecontainer" class="tablecontainer">
            <table id="datatableplanner" class="table table-striped hover"></table>
    </div-->

<!--<div class="scrollbuttons">
    <button type="submit" class="btn btn-primary" onClick="scrollacross()">Scroll To Next Day</button>
</div>-->


<!--div class="resultstable">

    <ul class="list-group">
        DBLength: <%= (rowsize) %>
        <% for(var x=0;x<rowsize;x++) { %>
            <li class="list-group-item">db[complicated]: <%=JSON.stringify(db[Object.keys(db)[Object.keys(db).length - 1]])%></li>
            <li class="list-group-item">db[0]<%=JSON.stringify(db[Object.keys(db)[0]])%></li>
            <li class="list-group-item">db[0]<%=JSON.stringify(db[Object.keys(db)[Object.keys(db)[0]]])%></li>
        <% } %>
    </ul>

</div-->

<div id="DeleteDialog" title="Delete Engineer" style="display: none">
    <p>Are you sure you wont to delete this row?</p>
</div>

<div id="DeleteSuccessDialog" title="Success" style="display: none">
    <p>SUCCESS! If deleted case information is still showing in edit estimate try reloading case</p>
</div>

<footer>
    <% include ./partials/footer %>
</footer>
<script src="/javascripts/plannerdatatable.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/loaddeletetable.js"></script>
<script src="javascripts/loadestimatecases.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/workplanneronebeforeunload.js"></script>
<script src="javascripts/loadestimatecasesbutton.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/loadformdata.js"></script>
<script type="text/javascript" src="/javascripts/deleteclick.js"></script>
<script type="text/javascript" src="/javascripts/validateform.js"></script>
<script type="text/javascript" src="/javascripts/displayplannermessage.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
</body>
</html>