<!DOCTYPE html>
<html>
<head>
    <title>Day-1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/jquery.js"></script>
    <link rel="stylesheet" href="build/kalendae.css" type="text/css" charset="utf-8">
    <script src="build/kalendae.standalone.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/plannerdatatable.js" type="text/javascript" charset="utf-8"></script>
    <script src="javascripts/animatescroll.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet">


</head>

<body style="background-color: lightgrey;">
<header>
    <% include ./partials/header %>
</header>
<<<<<<< HEAD

<div id="estimatecontainer" class="container">
    <h3  id="estimatecontainerheader" style="background-color: #428BCA">Edit EWOC Case</h3>

    <form id="form1" action="editestimate" method="post">
        <div class="form-group row">
            <div class="form-group col-md-offset-2 col-md-2">
            <label> Enter EWOC Estimate</label>
            </div>
            <div class="form-group col-md-6" id="estimatediv">
                <% if(formvalues.estimatenum.length > 0) { %>
                    <input type="text" class="form-control" id="estimate" name="ewocestimate" value="<%= formvalues.estimatenum %>">
                <% } else { %>
                    <input type="text" class="form-control" id="estimate" placeholder="example EWOC estimate" name="ewocestimate">
                <%}%>
            </div>
        </div>



=======
<div class="row">
    <div class="row col-md-3">
    </div>
    <div class="col-md-4">

        <div id="estimatecontainer" class="container">
            <h3  id="estimatecontainerheader" style="background-color: #428BCA">Edit EWOC Case</h3>

            <form id="form1" action="editestimate" method="post">
                <div class="form-group row">
                    <div class="form-group col-md-offset-2 col-md-2">
                    <label> Enter EWOC Estimate</label>
                    </div>
                    <div class="form-group col-md-6" id="estimatediv" style="padding-bottom: 0px;">
                        <% if(formvalues.estimatenum.length > 0) { %>
                            <input type="text" class="form-control" id="estimate" name="ewocestimate" value="<%= formvalues.estimatenum %>">
                        <% } else { %>
                            <input type="text" class="form-control" id="estimate" placeholder="example EWOC estimate" name="ewocestimate">
                        <%}%>
                    </div>
                </div>


                <div class="form-group row" id="divcases">
                    <div class="form-group col-md-offset-2 col-md-offset-2 col-md-2">
                        <label for="exampleSelect2">Select Cases to Edit</label>
                    </div>
                    <div class="form-group  col-md-6">
                    <select multiple class="form-control input-large" name="cases" style="padding: 0px">
                        <% if (cases.length > 0) { %>
                            <% for(var ii=0;ii<cases.length;ii++) { %>
                                    <% if(formvalues.cases.includes(cases[ii].CASE_ID)) { %>
                                        <option selected> <%= cases[ii].CASE_ID %></option>
                                    <% } else { %>
                                        <option> <%= cases[ii].CASE_ID %></option>
                                    <% } %>
                            <%}%>
                        <%}%>
                    </select>
                    </div>
                </div>
>>>>>>> 4a34f2b7d06ebbef46231e6f7c3fcf1ca8a6aec3


                <div class="form-group row">
                    <div class="form-group col-md-offset-1 col-md-2">
                        <label class="form-check-inline">
                            <%    if (formvalues.tmbooked == 'tmbooked') { %>
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="tmbooked" name="tmbooked" style="padding: 0px" checked><br> Dependencies
                            <%} else { %>
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="tmbooked" name="tmbooked" style="padding: 0px"><br> Dependencies
                            <% } %>
                        </label>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-check-inline">
                            <%   if (formvalues.dso == 'dso') { %>
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="dso" name="dso" style="padding: 0px" checked><br> DSO
                            <%} else { %>
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="dso" name="dso" style="padding: 0px"><br> DSO
                            <% } %>
                        </label>
                    </div>
                    <div class="form-group col-md-2">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-check-inline">
                            <%    if (formvalues.unpintask == 'unpintask') { %>
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="unpintask" name="unpintask" style="padding: 0px" checked><br> Un-pin task
                            <% } else { %>
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="unpintask" name="unpintask" style="padding: 0px"><br> Un-pin task
                            <% } %>
                        </label>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-check-inline">
                            <%    if (formvalues.flagtofluidity == 'flagtofluidity') { %>
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="flagtofluidity" name="flagtofluidity" style="padding: 0px" checked><br> Flag To Fluidity
                            <%} else { %>
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="flagtofluidity" name="flagtofluidity" style="padding: 0px"><br> Flag To Fluidity
                            <% } %>
                        </label>
                    </div>


                <div class="form-group row">
                    <div class="form-group col-md-offset-1 col-md-2">
                        <label for="Profile">Edit Fluidity Status</label>
                        <select name="fluiditystatus" >
                            <option value="" style="padding: 0px" selected><em>Select From List</em></option>

                            <%for(var ll =0;ll<dropdownsjson.fluiditydropdown.length;ll++) { %>
                            <% if( dropdownsjson.fluiditydropdown[ll].CASE_STATUS == formvalues.fluiditystatus) { %>
                            <option style="padding: 0px" value="<%= dropdownsjson.fluiditydropdown[ll].CASE_STATUS %>" selected><%= dropdownsjson.fluiditydropdown[ll].CASE_STATUS %></option>
                            <% } else {%>
                            <option style="padding: 0px" value="<%= dropdownsjson.fluiditydropdown[ll].CASE_STATUS %>"><%= dropdownsjson.fluiditydropdown[ll].CASE_STATUS %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="Profile">Gang Size<br><br></label>
                        <select name="gangsize">
                            <option value="" style="padding: 0px" selected><em>Select From List</em></option>
                            <%for(var nn =0;nn<dropdownsjson.gangsizedropdown.length;nn++) { %>
                            <% if( dropdownsjson.gangsizedropdown[nn].ASSUMED_GANG_SIZE == formvalues.gangsize) { %>
                            <option style="padding: 0px" value="<%= dropdownsjson.gangsizedropdown[nn].ASSUMED_GANG_SIZE%>" selected><em><%= dropdownsjson.gangsizedropdown[nn].ASSUMED_GANG_SIZE%></em></option>
                            <% } else { %>
                            <option style="padding: 0px" value="<%= dropdownsjson.gangsizedropdown[nn].ASSUMED_GANG_SIZE%>"><em><%= dropdownsjson.gangsizedropdown[nn].ASSUMED_GANG_SIZE%></em></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group col-md-offset-1 col-md-3">
                        <label for="EIN">Enter Engineer EIN for Task
                            <% if(formvalues.engein.length > 0) { %>
                            <input style="padding: 0px" type="number" class="form-control" name="engein" value="<%=formvalues.engein%>">
                            <% } else { %>
                            <input style="padding: 0px" type="number" class="form-control" name="engein" placeholder="Enter engineer EIN" value="">
                            <% } %>
                        </label>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="form-group col-md-offset-1 col-md-2">
                        <label style="padding: 0px" for="Profile">Edit/ Add Skill<br><br></label>
                        <select name="addeditskill">
                            <option style="padding: 0px" value="" selected><em>Select From List</em></option>

                            <%for(var nn =0;nn<dropdownsjson.skillsdropdown.length;nn++) { %>
                            <% if( dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL == formvalues.skills) { %>
                            <option style="padding: 0px" value="<%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %>" selected><%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %></option>
                            <% } else {%>
                            <option style="padding: 0px" value="<%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %>"><%= dropdownsjson.skillsdropdown[nn].PRIMARY_SKILL %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group col-md-offset-1 col-md-2">
                        <label style="padding: 0px" for="tasktime">Enter Estimated Task Time (Mins)
                            <% if(formvalues.tasktime.length > 0) { %>
                            <input style="padding: 0px" type="number" class="form-control" name="tasktime" value="<%=formvalues.tasktime%>">
                            <% } else { %>
                            <input  style="padding: 0px"type="number" class="form-control" name="tasktime" placeholder="Enter Task Time" value="">
                            <% } %>
                        </label>
                    </div>
                    <div class="form-group  col-md-offset-1 col-md-2" id="randomdiv">
                        <label style="padding: 0px" for="Profile">EOD Travel<br><br></label>
                        <select name="eodtravel">
                            <option style="padding: 0px" value="" selected><em>Select From List</em></option>
                            <%for(var mm =0;mm<dropdownsjson.traveldropdown.length;mm++) { %>
                            <% if( dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION == formvalues.eodtravel) { %>
                            <option style="padding: 0px" value="<%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%>" selected><em><%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%></em></option>
                            <% } else { %>
                            <option style="padding: 0px" value="<%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%>"><em><%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%></em></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label style="padding: 0px" for="Profile">Travel To Next Task</label>
                        <select name="traveltime">
                            <option value="" selected><em>Select From List</em></option>
                            <%for(var mm =0;mm<dropdownsjson.traveldropdown.length;mm++) { %>
                            <% if( dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION == formvalues.travel) { %>
                            <option value="<%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%>" selected><em><%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%></em></option>
                            <% } else { %>
                            <option value="<%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%>"><em><%=dropdownsjson.traveldropdown[mm].PLANNED_TT_DURATION%></em></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="form-group col-md-offset-1 col-md-3">
                        <label style="padding: 0px" for="EIN" name="datewrap">Select Planner Defined Date(s)
                            <% if(formvalues.dates.length > 0) { %>
                            <input type="text" class="auto-kal" data-kal="mode: 'multiple', months: 1, direction: 'future'" name="dates" value = "<%=formvalues.dates%>">
                            <% } else { %>
                            <input type="text" class="auto-kal" data-kal="mode: 'multiple', months: 1, direction: 'future', blackout: function(date) { var today = new Date(); today.getDate(); var plus30 = today.setMonth(today.getMonth()+1); return date > plus30} " name="dates">
                            <% } %>
                        </label>
                    </div>
                    <div class="form-group col-md-offset-3 col-md-2">
                        <label style="padding: 0px" for="Profile">Select Task Number</label>
                        <select name="tasknum">
                            <option value="" selected><em>Select From List</em></option>
                            <%for(var oo =0;oo<dropdownsjson.tasknumberdropdown.length;oo++) { %>
                            <% if( dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER == formvalues.tasknum) { %>
                            <option value="<%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%>" selected><em><%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%></em></option>
                            <% } else { %>
                            <option value="<%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%>"><em><%=dropdownsjson.tasknumberdropdown[oo].TASK_NUMBER%></em></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>
                </div>


                    <div class="form-group row">
                        <div class="form-group col-md-offset-3 col-md-4">
                            <button type="submit" class="btn btn-primary">Submit Changes</button>
                        </div>
                        <div class="form-group  col-md-4">
                            <button type="reset" value="Reset" class="btn btn-default">Reset Form</button>
                        </div>
                    </div>
                </div>
<<<<<<< HEAD

=======
            </form>
            </div>
            <div class="col-md-4">
>>>>>>> 4a34f2b7d06ebbef46231e6f7c3fcf1ca8a6aec3
            </div>
        </div>
    </div>
    <div class="row col-md-4">
    </div>
</div>

<% if(plannermessage) { %>
<div class="alert alert-danger text-center" id="alert1">
    <p> <%= plannermessage %> </p>
</div>
<% } %>
<br><br>


    <div id = "tablecontainer" class="tablecontainer">
            <table id="datatableplanner" class="table table-striped hover"></table>
    </div>

<!--<div class="scrollbuttons">
    <button type="submit" class="btn btn-primary" onClick="scrollacross()">Scroll To Next Day</button>
</div>-->


<div class="resultstable">

    <ul class="list-group">
        DBLength: <%= (rowsize) %>
        <% for(var x=0;x<rowsize;x++) { %>
            <li class="list-group-item">db[complicated]: <%=JSON.stringify(db[Object.keys(db)[Object.keys(db).length - 1]])%></li>
            <li class="list-group-item">db[0]<%=JSON.stringify(db[Object.keys(db)[0]])%></li>
        <li class="list-group-item">db[0]<%=JSON.stringify(db[Object.keys(db)[Object.keys(db)[0]]])%></li>
        <% } %>
    </ul>
</div>

<footer>
    <% include ./partials/footer %>
</footer>
<script src="javascripts/loadestimatecases.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>