<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <title>Team Manager</title>
    <link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <% include ./partials/header %>
</header>

<div class="teameditformcontainer" style="margin:auto;">
    <h1>Team Manager</h1>
    <form action="/queryengoucinfo" method="post">
        <div class="row">
            <div class="col">
                <label for="EIN">EIN</label>
                <input class="form-check-input" type="number" name="ein" id="ein" placeholder="600123456">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="ouc">OUC</label>
                <input class="form-check-input" type="text" name="ouc" id="ouc" placeholder="BVH123">
            </div>
            <div class="col">
                <label for="exclude">Exclude</label>
                <input class="form-check-input" type="checkbox" id="exclude" value="Y" name="exclude" style="padding: 0px"><br>
            </div>
            <div class="col">
                <label for="reason">Reason</label>
                <textarea name="reason" id="reason" placeholder="Engineer is on loan to this area..."></textarea>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <%if (teameditmessage) { %>
        <p><%- teameditmessage %></p>
    <%}%>
</div>

<%if (db.length>0) { %>
<div class="containerTableDemand">
    <div class="table-responsive">
        <table id="table" class="table table-condensed">
            <thead>
            <tr>
                <th>EIN</th>
                <th>OUC</th>
                <th>Flag</th>
                <th>Reason</th>
                <th>Added By</th>
                <th>Added Date</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0;i<db.length;i++) { %>
            <tr>
                <td><%= db[i].ENGINEER_EIN%></td>
                <td><%= db[i].OUC%></td>
                <td><%= db[i].EXCLUDE_FLAG%></td>
                <td><%= db[i].REASON%></td>
                <td><%= db[i].ENTERED_BY_EIN%></td>
                <td><%= db[i].ENTERED_TIME%></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<%}%>
<br><br>

<footer>
    <% include ./partials/footer %>
</footer>
</body>
</html>
